@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "arial";
  src: url("../public/assets/fonts/arial.ttf");
}
@font-face {
  font-family: "arialb";
  src: url("../public/assets/fonts/arialbd.ttf");
}
@font-face {
  font-family: "arialn";
  src: url("../public/assets/fonts/arialn.TTF");
}

body {
  font-family: "arial";
}
